html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.store-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 15px;
  width: 100%;
}

.custom-button {
  margin-right: 5px;
  margin-left: 5px;
}

.cursor-item{
  cursor: pointer
}

.cursor-item:hover{
  color:rgb(97, 97, 97);
  background-color: rgb(226, 226, 226);
}

.device-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Загальний стиль для карток */
.device-card {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Плавне збільшення і тінь */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легка тінь */
  padding: 10px;
  text-align: center;
  min-height: 300px;
  min-width: 210px;
  max-width: 300px;
}

.device-card:hover {
  transform: scale(1.05); /* Збільшення при наведенні */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Збільшення тіні при наведенні */
}

.device-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  min-height: 50px;
}

.device-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-button {
  background-color: #111;
  border-color: #111;
  transition: all 0.3s ease;
}

.basket-button:hover {
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}

.basket-button svg {
  color: white;
  transition: color 0.3s ease;
}

.basket-button:hover svg {
  color: black;
}


.currency {
  font-size: 0.9rem;
  margin-left: 5px;
}

.device-image-main {
  border-radius: 10px;
  max-width: 100%;
  height: 150px;
  width: auto;
}

/* Для розташування зображення по центру */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-search-container {
  flex-grow: 1;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0px;
}

.store-search-icon {
  position: absolute;
  left: 10px;
  color: #999;
  font-size: 16px;
}

.store-search-input {
  width: 100%;
  padding: 8px 8px 8px 36px; /* Додаємо відступ зліва для іконки */
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .store-col {
    margin-bottom: 20px;
  }

  .navbar-nav {
    gap: 15px;
  }

  .search{
    margin-bottom: 15px;
  }
}


@media (max-width: 485px) {
  .col-position{
    display: flex;
    justify-content: center;
  }

  .device-card {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Плавне збільшення і тінь */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легка тінь */
    padding: 10px;
    text-align: center;
    min-height: 260px;
    min-width: 170px;
    max-width: 260px;
  }

  .device-image-main {
    border-radius: 10px;
    max-width: 100%;
    height: 120px;
    width: auto;
  }

  .device-list-container {
    grid-template-columns: repeat(2, 1fr); /* 3 колонки для середніх екранів */
  }
}

@media (min-width: 485px) and (max-width: 780px) {
  .device-list-container {
    grid-template-columns: repeat(2, 1fr); /* 3 колонки для середніх екранів */
  }
}

@media (min-width: 780px) and (max-width: 1260px) {
  .device-list-container {
    grid-template-columns: repeat(3, 1fr); /* 4 колонки для ширших екранів */
  }
}

@media (min-width: 1260px) and (max-width: 1400px) {
  .device-list-container {
    grid-template-columns: repeat(4, 1fr); /* 5 колонок для великих екранів */
  }
}

@media (min-width: 1600px) {
  .device-list-container {
    grid-template-columns: repeat(5, 1fr); /* 5 колонок для великих екранів */
  }
}

@media (max-width: 950px) {
  .store-col {
    display: none !important;
    width: 100%;
    margin-bottom: 20px;
  }

  .device-col{
    width: 100%;
    display: flex;
    justify-self: center;
  }

}

@media (max-width: 768px) {
  .store-search-container{
    display: flex;
  }
}