.pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination .page-item .page-link {
    background-color: black;
    color: white;
    border-color: black;
    display: flex;
    justify-content: center;
  }
  
  .pagination .page-item.active .page-link {
    background-color: white;
    color: black;
    border-color: black;
  }
  
  .pagination .page-item .page-link:hover {
    background-color: #333;
    border-color: #333;
  }
  